/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

html, body {
	min-height: 100%;
}

.check {
	padding-left: 20px;
}

#billboard { 
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	}

.table {
	margin: auto;
}

th, td {
	min-width: 50px;
	text-align: center;
	padding: 5px;
}

.tdcount {
	font-weight: bold;
	color: white;
}

.starter-template {
  padding: 50px 15px;
  text-align: center;
  margin-top: 50px;
  min-height: 100%;
  border-left: solid 5px black;
  border-right: solid 5px black;
  /*background-color: #9C7D58 /*#cccc39; /*#999666; #ededed;*/
}

.user-info {
	color: white;
}

#billboard{
	background-color: #c96; /*#cfcfcf;*/
	padding: 15px 15px 10px 15px;
}

.username {
	margin-top: 16px;
	color: #999;
}